<h2 class="form-heading">FaceBook Sign up</h2>
<span style="padding-left: 70px"><%= 'Welcome ' %></span><span style="color: #8eb640"><b><%= @user.first_name%></b></span>
<%= form_for(@user, as: :user, url: '/user/registrations-facebook/create', method: :post) do |f| %>

    <%= f.hidden_field :first_name, :value => @user.first_name %>
    <%= f.hidden_field :last_name, :value => @user.last_name %>
    <%= f.hidden_field :provider, :value => @user.provider %>
    <%= f.hidden_field :uid, :value => @user.uid %>
    <%= f.hidden_field :profile_picture, :value => @user.profile_picture %>

    <div class="field">
      <%= f.label :user_name %><br>
      <div class="set_user_name_div">
        <%= f.text_field :user_name, autofocus: true, :id => 'set_user_name'  %>
        <div id="user_name_available">User Name is Available</div>
        <div id="user_name_not_valid">User Name not Valid</div>
      </div>
    </div>

    <% if !@user.email %>
    <div class="field">
      <%= f.label :email %><br>
      <div class="field-input">
      <%= f.email_field :email%>
      </div>
    </div>
    <% else %>
        <%= f.hidden_field :email, :value => @user.email %>
    <% end %>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="field-input">
      <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <div class="field-input">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :country %>
      <div class="field-input">
      <%= f.country_select :country %>
      </div>
    </div>

    <div class="actions">
      <div class="action-input">
      <%= f.submit "Sign up" %>
      </div>
    </div>

<% end %>
