<%= form_for (@group), id: :group_form_create do |f| %>
    <%= f.hidden_field :hidden_image, :value => "create"%>
    <div class="field">
      <%= f.label :group_name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image , :onChange => "loadFile(event,this)"%>
    </div>
    <div class="preview_image_class">
      <img src="" id="preview_image">
    </div>
<%= f.submit %>
<% end %>