<%= form_for (@group) do |f| %>
    <div class="field">
      <%= f.label :group_name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>
<%= f.submit %>
<% end %>