<h1>add users to <%= @group.name%></h1>

<%= form_tag "/groups/#{@group.id}/add_users", :method => "GET" , :id => "search_user" do%>

<%= text_field_tag :search_user_name %>
<%= submit_tag 'search'%>
<% end %>

				<% if @search_user %>
				<% @search_user.each do |user| %>
				 <%= render "suser", :user => user %>
					<% end %> 
					<% end %>

	<h1>searched users</h1>
<div class="group_id:<%=@group.id%>" id="result">
</div>

<h1>Users</h1>
<div class="group_id:<%=@group.id%>" id="group_users">
	<% @group_users.each do |user| %>
	<%= render "suser" , :user => user %>
	<% end %>
</div>