<h1 class="form-heading">Vote for your favourite candidate</h1>
<div id="group_poll_vote">
<%= form_tag "/contribute" , :method => "POST", :id => "vote_form" do %>
<%= hidden_field_tag :group_poll_id , @group_poll.id %>
    <div id="list_vote">
<% @poll_contestants.each do |contestant| %>
          <div class="user_image_button effect2" id="<%= contestant.id %>">
            <% if contestant.provider == nil %>
                <img src="/uploads/<%= contestant.profile_picture %>" >
            <% else %>
                <img src="<%= contestant.profile_picture %>" >
            <% end %>
            <div class="det">
            <p><%= contestant.first_name + ' ' + contestant.last_name %></p>
            <marquee><%= @poll_mappings.where(:competitor_id => contestant.id).first.contestant_tag_line %></marquee>
            </div>
          </div>
<%= radio_button_tag "your_fav" , contestant.id, false,  class: "hidden" %><br>
<% end %>
    </div>
      <div class="vote-btn">
        <%= submit_tag "vote"%>
      </div>
<%end%>
</div>