<h1>welcome # <%= @user.user_name%> </h1>
<%= link_to "create group", :groups_new %>
<%= link_to "create public poll", 'unipoll/new' %>

<h2>Public Polls</h2>
<div id="public_polls_list">
	<% @uni_polls.each do |uni_poll|%>
	<%= render "uni_poll", :uni_poll => uni_poll %>
	<% end %>
</div>

<h2>GROUPS</h2>
<div id="cuurent_user_groups">
	<% @groups.each do |group| %>
	<%= render "group", :group => group %>
      <hr class="fade-2">
	<% end %>
</div>
