<h2 class="form-heading">Form for new universal polls</h2>

<%= form_tag "/unipoll/create", :method => "POST", :id => "unipoll_form" , multipart: true do %>


    <div class="field">
      <%= label_tag :poll_name %>
      <div class="field-input">
        <%= text_field_tag :poll_name , :required => true %>
      </div>
    </div>

    <div>
      <div class="field">
        <%= label_tag :contestant_name %>
        <div class="field-input">
          <%= text_field_tag "contestant_name[]" , :required => true%>
        </div>
      </div>
      <div class="field">
        <%= label_tag :contestant_picture %>
        <div class="field-input">
          <%= file_field_tag "contestant_pic[]" , :onChange => "loadpollcontsimage(event,this)"%>
          <div class="contestant_pic_preview">
            <%= hidden_field_tag 'contestant_pic_set[]', 'false'%>
            <img src="">
          </div>
        </div>
      </div>
      <div class="field">
        <%= label_tag :contestant_tag_line %>
        <div class="field-input">
          <%= text_field_tag "contestant_tag_line[]" %>
        </div>
      </div>
    </div>

    <div>
      <div class="field">
        <%= label_tag :contestant_name %>
        <div class="field-input">
          <%= text_field_tag "contestant_name[]" , :required => true%>
        </div>
      </div>
      <div class="field">
        <%= label_tag :contestant_picture %>
        <div class="field-input">
          <%= file_field_tag "contestant_pic[]" , :onChange => "loadpollcontsimage(event,this)"%>
          <div class="contestant_pic_preview">
            <%= hidden_field_tag 'contestant_pic_set[]', 'false'%>
            <img src="">
          </div>
        </div>
      </div>
      <div class="field">
        <%= label_tag :contestant_tag_line %>
        <div class="field-input">
          <%= text_field_tag "contestant_tag_line[]" %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= label_tag :country %>
      <div class="field-input">
      <%= radio_button_tag :country_based, 'yes', :checked => true %> Yes<br>
      <%= radio_button_tag :country_based, 'no' %> No
      </div>
    </div>
    <div class="field">
      <%= label_tag :public_poll_image %>
      <div class="field-input">
      <%= hidden_field_tag 'public_poll_hidden_image', 'not_set'%>
      <%= file_field_tag "public_poll_image", :onChange => "loadppollimageFile(event,this)"%>
      </div>
    </div>
    <div class="image_preview">
      <img src="" id="public_poll_image_preview">
    </div>
    <div class="field">
      <%= label_tag "Do you want to set the start date ?" %>
      <div class="field-input">
        <%= check_box_tag :set_date, true, false ,:id => "set_date_group"%>
      </div>
    </div>
    <div id="start_date_select" >
      <div class="field">
        <%= label_tag :date %>
        <div class="field-input">
          <%= datetime_field_tag :start_date, Time.now %>
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="action-input">
        <%= submit_tag "create poll", :id => "create_poll" %>
      </div>
    </div>

<% end %>
<div class="actions">
  <div class="action-input">
    <button id="add_public_contestant">Add Contestant</button>
  </div>
</div>