<h2>Form for new universal polls</h2>

<%= form_tag "/unipoll/create", :method => "POST", :id => "unipoll_form" , multipart: true do %>
<div>
	<%= label_tag :poll_name %>
	<%= text_field_tag :poll_name %><br>
</div>
<div>
	<%= label_tag :contestant_name %>
	<%= text_field_tag "contestant_name[]" %>
<br>
  <div>
    <%= label_tag :contestant_picture %>
    <%= file_field_tag "contestant_pic[]" %>
    <br>
  </div>
  <div>
    <%= label_tag :contestant_tag_line %>
    <%= text_field_tag "contestant_tag_line[]" %>
    <br>
  </div>
</div>

<div>
	<%= label_tag :contestant_name %>
	<%= text_field_tag "contestant_name[]" %>
<br>
  <div>
    <%= label_tag :contestant_picture %>
    <%= file_field_tag "contestant_pic[]" %>
    <br>
  </div>
  <div>
    <%= label_tag :contestant_tag_line %>
    <%= text_field_tag "contestant_tag_line[]" %>
    <br>
  </div>
</div>


    <div>
      <%= label_tag :country %>
      <%= radio_button_tag :country_based, 'yes', :checked => true %> Yes
      <%= radio_button_tag :country_based, 'no' %> No
      <br>
      <br>
    </div>
    <div>
      <%= label_tag :public_poll_image %>
      <%= file_field_tag "public_poll_image" %>
      <br>
    </div>
    <%= "Do you want to set the start date ?" %>
    <%= check_box_tag :set_date, true, false ,:id => "set_date_group"%><br>
    <div id="start_date_select" >
      DATE:
      <%= datetime_field_tag :start_date, Time.now %>
    </div>
<%= submit_tag "submit", :id => "submit" %>

<br>
<% end %>

<button id="add_public_contestant">Add Contestant</button>