<!DOCTYPE html>
<html>
<head>
  <title>Voteme</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  Navigation Bar    -->
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VOTEME</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarButtons" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarButtons">
      <ul class="nav navbar-nav navbar-right">
        <li id="navAbout" class="btn navbar-btn navActive">About</li>
        <li id="navServices" class="btn navbar-btn">Services</li>
        <li id="navContact" class="btn navbar-btn">Contact</li>
      </ul>
    </div>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<!--  Contact info      -->
<div id="contactInfo"><!--removed class "row"-->
  <div class="container">
    <div class="contactStack col-md-4">
      <h4>ADDRESS</h4>
      <p>123 Test Avenue</p>
      <p>Charlotte, NC 28216</p>
    </div>
    <div class="contactStack col-md-4">
      <h4>OPERATION HOURS</h4>
      <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
      <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
    </div>
    <div class="contactStack col-md-4">
      <h4>CONTACT INFO</h4>
      <p>Phone: 555-555-5555</p>
      <p>Email: email@company.com</p>
    </div>
  </div>
</div>
<!--  Copyright    -->
<div id="copyright"><!--removed class "row"-->
  <div class="container">
    <div id="socialBtn">
      <a href="#" class="social"><img id="facebook"></a>
      <a href="#" class="social"><img id="twitter"></a>
      <a href="#" class="social"><img id="linkedin"></a>
    </div>
    <p>&copy; 2017 Company. All rights reserved. Designed and created by Mitchell Console</p>
  </div>
</div>
</body>
</html>

</body>
</html>
