<!DOCTYPE html>
<html>
<head>
  <title>Voteme</title>
  <script src="/javascripts/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <!--<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>-->
  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!--  Navigation Bar    -->
<header id="my-header">
  <div class="header-container">
    <div class="my-brand">
      <a href="/">Vote Me</a>
    </div>
    <div class="header-option">
      <% if user_signed_in? %>
          <div class="loged-in">
            <div id="email">hello_<b><%= current_user.email %></b></div>
            <div class="user-image">
              <div class="dropdown">
                <% if current_user.provider == nil %>
                    <img src="/uploads/<%= current_user.profile_picture %>" style="height:40px;width:40px">
                <% else %>
                    <img src="<%= current_user.profile_picture %>" style="height:40px;width:40px">
                <% end %>
                <div class="dropdown-content">
                  <a href="#">Profile</a>
                  <%= link_to "Logout", :destroy_user_session , :method => "DELETE"%>
                </div>
              </div>
            </div>
          </div>
      <% else %>
        <div id="my-login">
          <a href="<%= url_for(user_facebook_omniauth_authorize_path)%>"><button type="button" ><i class="fa fa-facebook-square" aria-hidden="true"></i>FaceBook Login</button></a>
        </div>
      <% end %>
    </div>
  </div>
</header>
<div class="outter-container">
<div class="my-container">
  <p class="notice"><%= notice %></p>
  <p class="alert" id="alert"><%= alert %></p>
  <%= yield %>
</div>
</div>


<div class="footer">
<!--  Contact info      -->
<div id="contactInfo"><!--removed class "row"-->
  <div class="container">
    <div class="contactStack">
      <h4>ADDRESS</h4>
      <p>123 Test Avenue</p>
      <p>Charlotte, NC 28216</p>
    </div>
    <div class="contactStack">
      <h4>OPERATION HOURS</h4>
      <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
      <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
    </div>
    <div class="contactStack">
      <h4>CONTACT INFO</h4>
      <p>Phone: 555-555-5555</p>
      <p>Email: email@company.com</p>
    </div>
  </div>
</div>
<!--  Copyright    -->
<div id="copyright"><!--removed class "row"-->
  <div class="container">
    <div id="socialBtn">
      <a href="#" class="social"><img id="facebook"></a>
      <a href="#" class="social"><img id="twitter"></a>
      <a href="#" class="social"><img id="linkedin"></a>
    </div>
    <p>&copy; 2017 Company. All rights reserved. Designed and created by Mitchell Console</p>
  </div>
</div>
</div>
<script type="text/javascript" src="slick/slick.min.js"></script>
</body>
</html>

</body>
</html>
